<form action="/login" method="post">
    <div>
        <label for=""> Email</label>
        <input type="text" name="email">
    </div>
    <div>
        <label for=""> Password</label>
        <input type="password" name="password">
    </div>
    <div>
        <BUTTon type="submit">
            LOGIN
        </BUTTon>    
    </div>
</form>